# dependencies
node_modules/

# builds
.next/
.svelte-kit/
.output/
dist/
build/
.turbo/
*.tsbuildinfo

# test
playwright-report/
test-results/
coverage/

# env
.env
.env*.local

# vercel
.vercel/

# os
.DS_Store
